@font-face {
  font-family: 'Riforma';
  src: url(../display-data-d3/assets/RiformaTrial-LightItalic.otf);
}

* {
  padding: 0;
  margin: 0;
}

.tooltip {
  font-family: 'Riforma';
  position: absolute;
  z-index: 10;
  background-color: aquamarine;
  padding: 3px;
}

svg rect:hover {
  cursor: pointer;
}